@page
@model Veterinaria.App.Presentacion.Pages.AdminVeterinarioModel
@{
}

<h1 style="font-size: 25px;color: #868686;font-weight: 400;margin: 25px 0;">
    @Model.titulo
</h1>


<div class="accordion" id="accordionExample">

    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#collapseListaVeterinarios" aria-expanded="true"
                    aria-controls="collapseListaVeterinarios">
                    Lista veterinarios
                </button>
            </h2>
        </div>

        <div id="collapseListaVeterinarios" class="@(Model.modeForm == "edicion" ? "collapse" : "collapse show")"  aria-labelledby="headingOne"
            data-parent="#accordionExample">
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Correo</th>
                            <th scope="col">Teléfono</th>
                            <th>
                                Acciones
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        @if(Model.listaVeterinarios != null){
                            foreach (var v in Model.listaVeterinarios)
                            {
                            <tr>

                                <th scope="row">@v.Id</th>
                                <td>@v.Nombre</td>
                                <td>@v.Correo</td>
                                <td>@v.Telefono</td>
                                <td>
                                    <div class="container">
                                        <div class="row" style="width: 220px;">
                                            <div class="col">
                                                <a class="btn btn-primary" asp-page="/Admin/AdminVeterinario" asp-route-id="@v.Id"
                                                style="background: #673ab7;border-color: #673ab7;">
                                                    Editar
                                                </a>
                                            </div>
                                            <div class="col">
                                                <form method="POST">
                                                    <button type="submit" class="btn btn-primary bg-success" asp-page-handler="Del"
                                                    asp-route-id="@v.Id">
                                                        Eliminar
                                                    </button>
                                                </form>
                                            </div>                                   
                                         </div>
                                    </div>                                                                
                                </td>
                            </tr>
                            }
                        }

                        
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#collapseAdmin" aria-expanded="true" aria-controls="collapseAdmin">
                    Admin veterinarios
                </button>
            </h2>
        </div>

        <div id="collapseAdmin" class="@(Model.modeForm == "edicion" ? "collapse show" : "collapse")" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <form method="POST">
                    <div class="container">

                        <div class="row">

                             <input type="hidden"
                             asp-for="@Model.veterinarioActual.Id"  class="form-control"
                                         name="Id">

                            <div class="col-sm">
                                <div class="form-group">
                                    <label asp-for="@Model.veterinarioActual.Nombre">Nombre (*)</label>
                                    <input asp-for="@Model.veterinarioActual.Nombre" type="text" class="form-control"
                                         name="Nombre" required autocomplete="off">
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-group">
                                    <label asp-for="@Model.veterinarioActual.Telefono">Telefono (*)</label>
                                    <input asp-for="@Model.veterinarioActual.Telefono" type="tel" class="form-control"
                                        aria-describedby="id-message-telefono" name="Telefono" required>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group">
                                    <label asp-for="@Model.veterinarioActual.Edad">Edad (*)</label>
                                    <input asp-for="@Model.veterinarioActual.Edad" type="number" class="form-control"
                                        aria-describedby="id-message-edad" name="Edad" required>

                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-group">
                                    <label asp-for="@Model.veterinarioActual.Correo">Correo (*)</label>
                                    <input asp-for="@Model.veterinarioActual.Correo" type="email" class="form-control"
                                        aria-describedby="id-message-correo" name="Correo" required>

                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group">
                                    <label asp-for="@Model.veterinarioActual.Contrasenia">Contrasenia (*)</label>
                                    <input asp-for="@Model.veterinarioActual.Contrasenia" type="password"
                                        class="form-control" aria-describedby="id-message-edad" name="Contrasenia">
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-group">
                                    <label asp-for="@Model.veterinarioActual.TarjetaProfesional">Tarjeta
                                        profesional</label>
                                    <input asp-for="@Model.veterinarioActual.TarjetaProfesional" type="text"
                                        class="form-control" aria-describedby="id-message-correo"
                                        name="TarjetaProfesional">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group">
                                    <label asp-for="@Model.veterinarioActual.Especializacion">Especialización</label>
                                    <input asp-for="@Model.veterinarioActual.Especializacion" type="text"
                                        class="form-control" aria-describedby="id-message-edad" name="Especializacion">
                                </div>
                            </div>                           
                        </div>

                    </div>

                    <button type="submit" class="btn btn-primary" asp-page-handler="Add">Agregar</button>

                    @if(Model.modeForm == "edicion") {
                        <button type="submit" class="btn btn-primary" asp-page-handler="Edi">Editar</button>
                    }

                </form>
            </div>
        </div>

    </div>

</div>


@if (Model.isNombreValid == "1")
{
    <script>alert("Falta el id");</script>
}