@page
@model Veterinaria.App.Presentacion.Pages.AdminCuidadorModel
@{
}

<h1 style="font-size: 25px;color: #868686;font-weight: 400;margin: 25px 0;">
    @Model.titulo
</h1>


<div class="accordion" id="accordionExample">

    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#collapseListaVeterinarios" aria-expanded="true"
                    aria-controls="collapseListaVeterinarios">
                    Lista veterinarios
                </button>
            </h2>
        </div>

        <div id="collapseListaVeterinarios" class="@(Model.modeForm == "edicion" ? "collapse" : "collapse show")"  aria-labelledby="headingOne"
            data-parent="#accordionExample">
            <div class="card-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Correo</th>
                            <th scope="col">Teléfono</th>
                            <th>
                                Acciones
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        @if(Model.listaCuidadores != null){
                            foreach (var v in Model.listaCuidadores)
                            {
                            <tr>

                                <th scope="row">@v.Id</th>
                                <td>@v.Nombre</td>
                                <td>@v.Correo</td>
                                <td>@v.Telefono</td>
                                <td>
                                    <div class="container">
                                        <div class="row" style="width: 220px;">
                                            <div class="col">
                                                <a class="btn btn-primary" asp-page="/Admin/AdminVeterinario" asp-route-id="@v.Id"
                                                style="background: #673ab7;border-color: #673ab7;">
                                                    Editar
                                                </a>
                                            </div>
                                             <div class="col">
                                                <a class="btn btn-primary" asp-page="/Admin/AdminMascota" asp-route-id="@v.Id"
                                                style="background: #673ab7;border-color: #673ab7;">
                                                    Ver mascotas
                                                </a>
                                            </div>
                                            <div class="col">
                                               

                                                 <!-- Button trigger modal -->
                                                <button type="button" class="btn btn-primary bg-success" data-toggle="modal" data-target="#exampleModal">
                                                    Eliminar
                                                </button>

                                                <!-- Modal -->
                                                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLabel">!Debes confirmar!</h5>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        ¿Estás seguro de eliminar?
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                                       
                                                        <form method="POST">
                                                            <button type="submit" class="btn btn-primary bg-success" asp-page-handler="Del"
                                                            asp-route-id="@v.Id">
                                                                Sí, estoy seguro
                                                            </button>
                                                        </form>
                                                    </div>
                                                    </div>
                                                </div>
                                                </div>

                                            </div>                                   
                                         </div>
                                    </div>                                                                
                                </td>
                            </tr>
                            }
                        }
                        
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                    data-target="#collapseAdmin" aria-expanded="true" aria-controls="collapseAdmin">
                    Admin veterinarios
                </button>
            </h2>
        </div>

        <div id="collapseAdmin" class="@(Model.modeForm == "edicion" ? "collapse show" : "collapse")" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <form method="POST">
                    <div class="container">

                        <div class="row">

                             <input type="hidden"
                             asp-for="@Model.cuidadorActual.Id"  class="form-control"
                                         name="Id">

                            <div class="col-sm">
                                <div class="form-group">
                                    <label asp-for="@Model.cuidadorActual.Nombre">Nombre (*)</label>
                                    <input asp-for="@Model.cuidadorActual.Nombre" type="text" class="form-control"
                                         name="Nombre" required autocomplete="off">
                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-group">
                                    <label asp-for="@Model.cuidadorActual.Telefono">Telefono (*)</label>
                                    <input asp-for="@Model.cuidadorActual.Telefono" type="tel" class="form-control"
                                        aria-describedby="id-message-telefono" name="Telefono" required>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group">
                                    <label asp-for="@Model.cuidadorActual.Edad">Edad (*)</label>
                                    <input asp-for="@Model.cuidadorActual.Edad" type="number" class="form-control"
                                        aria-describedby="id-message-edad" name="Edad" required>

                                </div>
                            </div>
                            <div class="col-sm">
                                <div class="form-group">
                                    <label asp-for="@Model.cuidadorActual.Correo">Correo (*)</label>
                                    <input asp-for="@Model.cuidadorActual.Correo" type="email" class="form-control"
                                        aria-describedby="id-message-correo" name="Correo" required>

                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm">
                                <div class="form-group">
                                    <label asp-for="@Model.cuidadorActual.Contrasenia">Contrasenia (*)</label>
                                    <input asp-for="@Model.cuidadorActual.Contrasenia" type="password"
                                        class="form-control" aria-describedby="id-message-edad" name="Contrasenia">
                                </div>
                            </div>
                            
                        </div>                       

                    </div>

                    <button type="submit" class="btn btn-primary" asp-page-handler="Add">Agregar</button>

                    @if(Model.modeForm == "edicion") {
                        <button type="submit" class="btn btn-primary" asp-page-handler="Edi">Editar</button>
                    }

                </form>
            </div>
        </div>

    </div>

</div>
